<template name="googleMaps">

    <!-- Page heading -->
    {{> pageHeading title='Google maps' category='Miscellaneous' }}

    <div class="wrapper wrapper-content  animated fadeInRight">

        <div class="row">
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Google Maps Basic example</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            With google maps <a href="https://developers.google.com/maps/documentation/javascript/reference#MapOptions">API</a> You can easy customize your map.
                        </p>
                        <div class="google-map" id="map1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Custom theme 1</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            This is a custom theme for Google map.
                        </p>
                        <div class="google-map" id="map2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Map Type</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            You can also change a map type.
                        </p>
                        <div class="google-map" id="map3"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Custom theme 2</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            This is a custom theme for Google map.
                        </p>
                        <div class="google-map" id="map4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Street View</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            You can also initial turn on Street View in Google maps.
                        </p>
                        <div class="google-map" id="pano" style="height: 500px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>