<template name="sweetAlert">

    <!-- Page heading -->
    {{> pageHeading title='Sweet alert' category='Miscellaneous' }}

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Sweet Alert</h5>
                    </div>

                    <div class="ibox-content">

                        <strong>An awesome replacement for JavaScript's alert.</strong>

                        <p>
                            SweetAlert automatically centers itself on the page and looks great no matter if
                            you're using a desktop computer, mobile or tablet. It's even highly customizeable,
                            as you can see below!
                            <a href="http://t4t5.github.io/sweetalert/" target="_blank">http://t4t5.github.io/sweetalert/</a>

                        </p>

                        <div class="row text-center">

                            <div class="col-lg-6 h-100 p-lg">
                                <p>A basic sweetalert message</p>
                                <button class="btn btn-primary btn-sm demo1">Run example</button>
                            </div>
                            <div class="col-lg-6 h-100 p-lg">
                                <p> A success message! </p>
                                <button class="btn btn-success btn-sm demo2">Run example</button>
                            </div>
                            <div class="col-lg-6 h-100 p-lg">
                                <p>A warning message, with a function attached to the "Confirm"-button...</p>
                                <button class="btn btn-warning btn-sm demo3">Run example</button>
                            </div>
                            <div class="col-lg-6 h-100 p-lg">
                                <p> ... and by passing a parameter, you can execute something else for "Cancel". </p>
                                <button class="btn btn-danger btn-sm demo4">Run example</button>
                            </div>





                        </div>
                        <div class="m-t-md">
                            <p>
                                You can easy add sweet alert in your script by adding code (example from warning button):
                            </p>
                    <pre>
$('.demo3').click(function () {
    swal({
        title: "Are you sure?",
        text: "You will not be able to recover this imaginary file!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, delete it!",
        closeOnConfirm: false
    }, function () {
        swal("Deleted!", "Your imaginary file has been deleted.", "success");
    });
});</pre>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</template>