<template name="tour">

    <!-- Page heading -->
    {{> pageHeading title='Tour' category='Miscellaneous' }}

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Bootstrap Tour</h5>
                    </div>

                    <div class="ibox-content">
                        <p>
                            Quick and easy way to build your product tours with Bootstrap Popovers.
                        </p>

                        <div class=" m-t-sm">

                            <a href="#" class="btn btn-primary startTour"><i class="fa fa-play"></i> Start Tour</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Tour steps</h5>
                    </div>
                    <div class="ibox-content text-center" id="step1">
                        <div class="p-sm">
                            <h3>Step 1</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Tour steps</h5>
                    </div>
                    <div class="ibox-content text-center" id="step2">
                        <div class="p-sm">
                            <h3>Step 2</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Tour steps</h5>
                    </div>
                    <div class="ibox-content text-center" id="step3">
                        <div class="p-sm">
                            <h3>Step 3</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Tour steps</h5>
                    </div>
                    <div class="ibox-content text-center" id="step4">
                        <div class="p-xl">
                            <h3>Step 4</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>