<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Example user</strong>
                             </span> <span class="text-muted text-xs block">user <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li class="{{isActivePath regex='pageOne'}}">
                    <a href="/pageOne"><i class="fa fa-dashboard"></i> <span class="nav-label">Page one</span> </a>
                </li>          <li class="{{isActivePath regex='pageTwo'}}">
                    <a href="/pageTwo"><i class="fa fa-diamond"></i> <span class="nav-label">Page two</span> </a>
                </li>
            </ul>

        </div>
    </nav>
</template>