<?xml version="1.0" encoding="utf-8"?>

<!-- Więcej informacji dotyczących korzystania z przekształceń pliku Web.config można znaleźć na stronie http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    W przykładzie poniżej przekształcenie „SetAttributes” spowoduje zmianę wartości
    „connectionString” tak, aby wartość „ReleaseSQLServer” była używana  wyłącznie wtedy,
    gdy lokalizator „Match” odnajdzie atrybut „name” o wartości „MyDB”.

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      W przykładzie poniżej przekształcenie „Replace” zamienia całą
      sekcję <customErrors> pliku Web.config.
      Zwróć uwagę, że skoro węzeł <system.web> zawiera tylko jedną
      sekcję customErrors, nie trzeba używać atrybutu „xdt:Locator”.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
