<template name="draggablePanels">

    <!-- Page heading -->
    {{> pageHeading title='Draggable panels' category='UI Elements' }}

    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row" id="sortable-view">
            <div class="col-lg-6">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Drag&amp;Drop</h5>
                        <div class="ibox-tools">
                            <label class="label label-primary">You can drag and drop me to other box.</label>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 1
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Drag&amp;Drop</h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 3
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Drag&amp;Drop</h5>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 2
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Drag&amp;Drop</h5>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            This is simple box container nr. 4
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>