<section ng-controller="HomeController">

  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center m-t-lg">
          <!--<img alt="MEAN.JS" class=" text-center" src="modules/core/client/img/brand/logo.png" style="width: 200px" />-->
          <h1>
            {{helloText}}
          </h1>
          <small>
            {{descriptionText}}
            <br/>
            MEAN.JS is open-source full-stack solution for MEAN (Mongo, Express, Angular, Node) applications: <br/><br/><a class="btn btn-primary btn-xs" href="http://meanjs.org" target="_blank">Learn more</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</section>
