<template name="graphChartist">

    <!-- Page heading -->
    {{> pageHeading title='ChartJS' category='Graphs' }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Simple line chart
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div id="ct-chart1" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Line scatter diagram</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="ct-chart2" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Stacked bar chart</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="ct-chart3" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Horizontal bar chart </h5>
                    </div>
                    <div class="ibox-content">
                        <div id="ct-chart4" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Simple pie chart</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="ct-chart5" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Gauge chart </h5>
                    </div>
                    <div class="ibox-content">
                        <div id="ct-chart6" class="ct-perfect-fourth"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>