<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product detail</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Product detail</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

<div class="row">
    <div class="col-lg-12">

        <div class="ibox product-detail">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-5">


                        <div class="product-images">

                            <div>
                                <div class="image-imitation">
                                    [IMAGE 1]
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    [IMAGE 2]
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    [IMAGE 3]
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="col-md-7">

                        <h2 class="font-bold m-b-xs">
                            Desktop publishing software
                        </h2>
                        <small>Many desktop publishing packages and web page editors now.</small>
                        <div class="m-t-md">
                            <h2 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h2>
                        </div>
                        <hr>

                        <h4>Product description</h4>

                        <div class="small text-muted">
                            It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout. The point of using Lorem Ipsum is

                            <br/>
                            <br/>
                            There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable.
                        </div>
                        <dl class="small m-t-md">
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        </dl>
                        <hr>

                        <div>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
            <div class="ibox-footer">
                            <span class="pull-right">
                                Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                            </span>
                The generated Lorem Ipsum is therefore always free
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <div class="ibox product-detail">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-5">


                        <div class="product-images">

                            <div>
                                <div class="image-imitation">
                                    [IMAGE 1]
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    [IMAGE 2]
                                </div>
                            </div>
                            <div>
                                <div class="image-imitation">
                                    [IMAGE 3]
                                </div>
                            </div>


                        </div>

                    </div>
                    <div class="col-md-7">

                        <h2 class="font-bold m-b-xs">
                            Desktop publishing software
                        </h2>
                        <small>Many desktop publishing packages and web page editors now.</small>
                        <hr>
                        <div>
                            <button class="btn btn-primary pull-right">Add to cart</button>
                            <h1 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h1>
                        </div>
                        <hr>
                        <h4>Product description</h4>

                        <div class="small text-muted">
                            It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout. The point of using Lorem Ipsum is
                            that it has a more-or-less normal distribution of letters, as opposed to using
                            'Content here, content here', making it look like readable English.
                            <br/>
                            <br/>
                            There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable.
                        </div>
                        <dl class="dl-horizontal m-t-md small">
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                            <dt>Felis euismod semper eget</dt>
                            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                        </dl>
                        <div class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="ibox-footer">
                            <span class="pull-right">
                                Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                            </span>
                The generated Lorem Ipsum is therefore always free
            </div>
        </div>

    </div>
</div>




</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(window).load(function() {

    $('.product-images').slick({
        dots: true
    });

});

</script>

<% end %>