<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'"></div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>CSS Animations</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>CSS Animations</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>CSS Animations
                        <small>http://daneden.github.io/animate.css/</small>
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content text-center css-animation-box">
                    <h1 class="text-navy">
                        Animation.css
                    </h1>

                    <p>
                        A cross-browser library of CSS animations. Animation.css is a bunch of cool, fun, and cross-browser animations for you to use in your projects. Great for emphasis, home pages,
                        sliders, and general just-add-water-awesomeness.
                    </p>

                    <div class="hr-line-dashed"></div>

                    <div class="row" ng-controller="rickshawChartCtrl as chart">
                        <div class="col-sm-6 text-center">

                            <h4 class="m-b-lg">
                                Example box for animation effect.
                            </h4>

                            <div id="animation_box" class="animated">
                                <p class="animation-text-info">
                                    This is simple example of Rickshaw charts. You can use animation on any objects: text, charts, images, tables etc.
                                </p>

                                <div class="text-center wrapper-content animation-text-box">
                                    <h2>48%</h2>

                                    <p>Sales marketing</p>
                                </div>
                                <rickshaw rickshaw-options="chart.multiAreaOptions" rickshaw-series="chart.multiAreaSeries"></rickshaw>
                            </div>
                        </div>
                        <div class="col-lg-6 animation-efect-links text-center">
                            <h4 class="m-b-lg">
                                Use any animation button to turn on the animation on box example.
                            </h4>

                            <!--<h5 class="text-navy">Attention Seekers</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="bounce">bounce</a>
                            <a href="" class="btn btn-white animation_select" data-animation="flash">flash</a>
                            <a href="" class="btn btn-white animation_select" data-animation="pulse">pulse</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rubberBand">rubberBand</a>
                            <a href="" class="btn btn-white animation_select" data-animation="shake">shake</a>
                            <a href="" class="btn btn-white animation_select" data-animation="swing">swing</a>
                            <a href="" class="btn btn-white animation_select" data-animation="tada">tada</a>
                            <a href="" class="btn btn-white animation_select" data-animation="wobble">wobble</a>


                            <!--<h5 class="text-navy">Bouncing Entrances</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="bounceIn">bounceIn</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceInDown">bounceInDown</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceInLeft">bounceInLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceInRight">bounceInRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceInUp">bounceInUp</a>


                            <!--<h5 class="text-navy">Bouncing Exits</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="bounceOut">bounceOut</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceOutDown">bounceOutDown</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceOutLeft">bounceOutLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceOutRight">bounceOutRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="bounceOutUp">bounceOutUp</a>
                            <!--<h5 class="text-navy">Fading Entrances</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="fadeIn">fadeIn</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInDown">fadeInDown</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInDownBig">fadeInDownBig</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInLeft">fadeInLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInLeftBig">fadeInLeftBig</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInRight">fadeInRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInRightBig">fadeInRightBig</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInUp">fadeInUp</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeInUpBig">fadeInUpBig</a>
                            <!--<h5 class="text-navy">Fading Exits</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOut">fadeOut</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutDown">fadeOutDown</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutDownBig">fadeOutDownBig</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutLeft">fadeOutLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutLeftBig">fadeOutLeftBig</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutRight">fadeOutRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutRightBig">fadeOutRightBig</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutUp">fadeOutUp</a>
                            <a href="" class="btn btn-white animation_select" data-animation="fadeOutUpBig">fadeOutUpBig</a>
                            <!--<h5 class="text-navy">Flippers</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="flip">flip</a>
                            <a href="" class="btn btn-white animation_select" data-animation="flipInX">flipInX</a>
                            <a href="" class="btn btn-white animation_select" data-animation="flipInY">flipInY</a>
                            <a href="" class="btn btn-white animation_select" data-animation="flipOutX">flipOutX</a>
                            <a href="" class="btn btn-white animation_select" data-animation="flipOutY">flipOutY</a>

                            <!--<h5 class="text-navy">Lightspeed</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="lightSpeedIn">lightSpeedIn</a>
                            <a href="" class="btn btn-white animation_select" data-animation="lightSpeedOut">lightSpeedOut</a>
                            <!--<h5 class="text-navy">Rotating Entrances</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="rotateIn">rotateIn</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateInDownLeft">rotateInDownLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateInDownRight">rotateInDownRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateInUpLeft">rotateInUpLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateInUpRight">rotateInUpRight</a>


                            <!--<h5 class="text-navy">Rotating Exits</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="rotateOut">rotateOut</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateOutDownLeft">rotateOutDownLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateOutDownRight">rotateOutDownRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateOutUpLeft">rotateOutUpLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rotateOutUpRight">rotateOutUpRight</a>

                            <!--<h5 class="text-navy">Sliders</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="slideInDown">slideInDown</a>
                            <a href="" class="btn btn-white animation_select" data-animation="slideInLeft">slideInLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="slideInRight">slideInRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="slideOutLeft">slideOutLeft</a>
                            <a href="" class="btn btn-white animation_select" data-animation="slideOutRight">slideOutRight</a>
                            <a href="" class="btn btn-white animation_select" data-animation="slideOutUp">slideOutUp</a>
                            <!--<h5 class="text-navy">Specials</h5>-->
                            <a href="" class="btn btn-white animation_select" data-animation="hinge">hinge</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rollIn">rollIn</a>
                            <a href="" class="btn btn-white animation_select" data-animation="rollOut">rollOut</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script>

// This is just for demo demo purpose - animation css local script
    $(document).ready(function () {
        $('.animation_select').click(function () {
            $('#animation_box').removeAttr('class').attr('class', '');
            var animation = $(this).attr("data-animation");
            $('#animation_box').addClass('animated');
            $('#animation_box').addClass(animation);
            return false;
        });
    });

</script>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
