<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Text Editor</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>Text Editor</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">

                <div class="ibox-content">

                    <h2>
                        Summernote (Angular version)
                    </h2>

                    <p>
                        Super Simple WYSIWYG Editor on Bootstrap for Angular
                    </p>

                    <div class="alert alert-warning">
                        Full documentation for Angular Summernote.js, including examples and options can be found at:
                        <a href="https://github.com/outsideris/angular-summernote">https://github.com/outsideris/angular-summernote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Wyswig Summernote Editor</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content no-padding">

                    <div summernote class="summernote"  ng-model="main.summernoteText">
                        <h3>Hello Jonathan! </h3>
                        dummy text of the printing and typesetting industry. <strong>Lorem Ipsum has been the industry's</strong> standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                        typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        <br/>
                        <br/>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
