<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>ng Grid</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>ng Grid</a>
            </li>
            <li class="active">
                <strong>ng Grid</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ngGridCtrl">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>ng Grid - Basic Example</h5>
                <div ibox-tools></div>
            </div>
            <div class="ibox-content">
                <p>
                    Ng Grid is a Angular native directive control that provides solutions for representing and manipulating tabular data on the web.
                </p>
                <div class="gridStyle" ng-grid="ngOptions"></div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>ng Grid - Grouping Example</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <p>
                        Below is an example using jQueryUI drag and drop in ng-grid. Just drag and drop column header to table header for grouping.
                    </p>
                    <div class="gridStyle" ng-grid="ngOptions2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
