//= require iCheck/custom.css
//= require steps/jquery.steps.css
//= require summernote/summernote-bs3.css
//= require summernote/summernote.css
//= require dropzone/basic.css
//= require dropzone/dropzone.css
//= require colorpicker/css/bootstrap-colorpicker.min.css
//= require cropper/cropper.min.css
//= require datapicker/datepicker3.css
//= require ionRangeSlider/ion.rangeSlider.css
//= require ionRangeSlider/ion.rangeSlider.skinFlat.css
//= require jasny/jasny-bootstrap.min.css
//= require nouslider/jquery.nouislider.css
//= require switchery/switchery.css
//= require chosen/bootstrap-chosen.css
//= require daterangepicker/daterangepicker-bs3.css
//= require clockpicker/clockpicker.css
//= require awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
//= require select2/select2.min.css
//= require touchspin/jquery.bootstrap-touchspin.min.css
//= require bootstrap-markdown/bootstrap-markdown.min.css
//= require bootstrap-tagsinput/bootstrap-tagsinput.css
//= require dualListbox/bootstrap-duallistbox.min.css
//= require codemirror/ambiance.css
//= require codemirror/codemirror.css