//= require toastr/toastr.min.css
//= require codemirror/ambiance.css
//= require codemirror/codemirror.css
//= require jsTree/style.min.css
//= require sweetalert/sweetalert.css
//= require ladda/ladda-themeless.min.css
//= require bootstrapTour/bootstrap-tour.min.css
//= require bootstrapSocial/bootstrap-social.css
//= require textSpinners/spinners.css